@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono&display=swap');
@import '_variables.scss';

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}

body {
    height: 100%;
    background-color: $gray-color;
}